Flask==2.2.2
Flask-Cors==3.0.10
gunicorn==20.1.0
idna==3.2
importlib-metadata==5.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
packaging==21.3
protobuf==4.21.8
py4j==0.10.9.5
pydeck==0.8.0b4
pymongo==4.3.3
pyparsing==3.0.9
pyrsistent==0.18.1
pyspark==3.3.1
python-dateutil==2.8.2
pytz==2022.5
pytz-deprecation-shim==0.1.0.post0
requests==2.26.0
s3transfer==0.6.0
six==1.16.0
streamlit==0.62.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
tzdata==2022.5
tzlocal==4.2
urllib3==1.26.6
