{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />     
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.Default.min.css" />
     
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

<style> #bmap { height: 400px; width: 1000px}</style>

<h3>Map</h3>

<div id="bmap"></div>

<script>
    //make map and tiles
    
    const bmap = L.map('bmap').setView([53.63, -113.32],10);
    const attribution = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>';
    const tileUrl = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tile = L.tileLayer(tileUrl, {attribution});
    tile.addTo(bmap);


    const jsonfile = JSON.parse({{data|tojson}});
    const markers = L.markerClusterGroup();

    
    //"Name: " + jsonfile[i]['name'] +"</br>" + " Stars: " +  jsonfile[i]['stars'] +  " Review count: " + jsonfile[i]['review_count'];

     for (i = 0; i < jsonfile.length; i++) {
          var content = jsonfile[i]['name'];
          marker = L.marker([jsonfile[i]['latitude'], jsonfile[i]['longitude']]).bindPopup(content);
          var content =  jsonfile[i]['name'] ;
          marker.on('mouseover', function (e) {
                    this.openPopup();
                });
                marker.on('mouseout', function (e) {
                    this.closePopup();
                });
          markers.addLayer(marker);
     }
     
     bmap.addLayer(markers);

     
     










    





  







   





</script>







{% endblock %}